sudo: required
services:
 - docker

before_install:
 - docker build -t chahat/react-test -f ./client/Dockerfile.dev ./client


script:
 - docker run -e CI=true chahat/react-test npm test


after_success:
 - docker build -t freakydeveloper007/my-fibnocci-app:multi-client ./client
 - docker build -t freakydeveloper007/my-fibnocci-app:multi-nginx ./nginix
 - docker build -t freakydeveloper007/my-fibnocci-app:multi-server ./server
 - docker build -t freakydeveloper007/my-fibnocci-app:multi-worker ./worker

 - echo "$DOCKER_PASS" | docker login -u "$DOCKER_ID" --password-stdin
 - docker push freakydeveloper007/my-fibnocci-app:multi-client
 - docker push freakydeveloper007/my-fibnocci-app:multi-nginx 
 - docker push freakydeveloper007/my-fibnocci-app:multi-server
 - docker push freakydeveloper007/my-fibnocci-app:multi-worker


 deploy:
      provider: elasticbeanstalk
      region: 'us-west-1'
      app: 'multi-docker'
      env: 'MultiDocker-env'
      bucket_name: 'elasticbeanstalk-us-west-1-859045861219'
      bucket_path: 'docker-multi'
      on:
        branch: master
      access_key_id: $AWS_ACCESS_KEY
      secret_access_key: $AWS_SECRET_KEY 

 